.header{
padding: 10px;
background-color: #61838c;




}

.nav{




  display: flex;
    justify-content: center;
align-items: center;
    flex-direction: row;
   


}
.nav a{
  
    color: #193d3f;
    padding: 10px;
   
    text-decoration: none;
   round: 5px;
   
}

.section img:hover{
  width: 100%;
  height: 100%;                      
  border-radius: 30px;
  transform: scale(1.1);
box-shadow
}


.footer{
    padding: 10px;
background-color: #61838c;


}
@keyframes moveCar {
0%{
    transform:translatey(0px)
}
100%{
    transform:translatey(20px)
}
}
.moveCar{
    animation: moveCar 1s ease-in-out infinite alternate;
}
.bggg{
    background-color: #4e676e;
}
.header4{
    background-color: #688891;
}

.kjj{

animation: h duration timing-function delay iteration-count direction fill-mode;


}

.buu{
    border-radius: 20px;
r
}