.header{
padding: 10px;
background-color: #61838c;




}

.nav{




  display: flex;
    justify-content: center;
align-items: center;
    flex-direction: row;
   


}
.nav a{
  
    color: #193d3f;
    padding: 10px;
   
    text-decoration: none;
   round: 5px;
   
}
.section {
display:grid;
grid-template-columns: repeat(2, 1fr);
justify-content: center;
gap: 20px;
margin-left: 50px;
padding: 20px;
animation: khaled 2s ease-in-out 0s infinite alternate;
}

.section img:hover{
  width: 100%;
  height: 100%;                      
  border-radius: 30px;
  transform: scale(1.1);
}


.footer{
    padding: 10px;
background-color: #61838c;


}
@keyframes moveCar {
0%{
    transform:translatey(0px)
}
100%{
    transform:translatey(20px)
}
}
.moveCar{
    animation: moveCar 1s ease-in-out infinite alternate;
}
.bggg{
    background-color: #4e676e;
}
.header4{
    background-color: #688891;
}